body,html
{

}

.base-container
{

}

.content-container
{

}

@media screen and (max-device-width:411px),screen and (max-device:411px) {
    body{
        flex-direction: column;
    }

    .logo
    {
        height: 20vh;
    }

    .login_form
    {
        height: 80vh;
    }
}


@media screen and (max-device-width:411px),screen and (max-device:411px) {
    body{
        flex-direction: column;
    }

    .logo
    {
        height: 20vh;
    }

    .login_form
    {
        height: 80vh;
    }
}
